body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fdfdfd;
}
header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 0em;
    margin-bottom: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 35px;
}

main section img {
    display: block; /* Remove o espaçamento extra abaixo da imagem */
    box-shadow: #333;
    border: #965959;
    border-radius: 30px;
    width: 100%;
    height: auto;
    display: block; /* Para remover qualquer espaçamento extra abaixo da imagem */
}

.container-cards {
    display: flex; /* Ativa o Flexbox para o container dos cards */
    flex-direction: row; /* Garante que os itens fiquem em linha (horizontalmente) */
    justify-content: space-around; /* Distribui os cards com espaço igual entre eles */
    padding: 20px; /* Adiciona um pouco de espaçamento ao redor dos cards */
}

.card {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px; /* Adiciona um pouco de espaçamento entre os cards */
    padding: 15px;
    text-align: center;
    width: 300px; /* Defina uma largura base para os cards */
}

.card img {
    max-width: 100%; /* Garante que a imagem não ultrapasse a largura do card */
    height: auto;
    border-radius: 6px;
    margin-bottom: 10px;
}












